<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Image Lazy Load demo app!
  </h1>
</div>

<figure>
  <img width="50%" appLazyLoad [src]="'https://images.unsplash.com/photo-1517867134921-7623876aaaa9?ixlib=rb-0.3.5&s=b5cc7c86ffff07028b46ba92ca7c5897&auto=format&fit=crop&w=2468&q=80'">
  <div>Image by Sebastián León Prado, unsplash</div>
</figure>
<figure>
  <img width="50%" appLazyLoad [src]="'https://images.unsplash.com/photo-1495001258031-d1b407bc1776?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a79f9a8fe4dcb557ba2090caf817c29&auto=format&fit=crop&w=668&q=80'">
  <div>Image by MARK ADRIANE, unsplash</div>
</figure>

<figure>
  <img width="50%" appLazyLoad [src]="'https://images.unsplash.com/photo-1472739841375-d0ea9f0cb6a6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a7f48efc018b6d583fd6dc737a1a8b2f&auto=format&fit=crop&w=668&q=80'">
  <div>Image by Caleb Jones, unsplash</div>
</figure>

<figure>
  <img width="50%" appLazyLoad [src]="'https://images.unsplash.com/photo-1508247489384-8a5d237ac250?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e614fa91a779151185dd42899c9639ce&auto=format&fit=crop&w=800&q=80'">
  <div>Benjamin Lossius, unsplash</div>
</figure>

<figure>
  <img width="50%" appLazyLoad [src]="'https://images.unsplash.com/photo-1496516348160-24b35a31856f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d03b0bd7933d352b19b6d5ea282dc84d&auto=format&fit=crop&w=668&q=80'">
  <div>James Baldwin, unsplash</div>
</figure>
